@use "sass:math";

@import "theme/theme_variables"; // <-------- Add your variables into this file. Also add variables to overwrite Bootstrap or Understrap variables here
// @import "bootstrap/scss/bootstrap"; // <-------- Loads Bootstrap

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

// Layout & components
// @import "bootstrap/scss/forms";
// @import "bootstrap/scss/buttons";
// @import "bootstrap/scss/alert";
// @import "bootstrap/scss/containers";
// @import "bootstrap/scss/grid";

$utilities: map-merge(
  $utilities,
  (
    "position":
      map-merge(
        map-get($utilities, "position"),
        (
          responsive: true,
        )
      ),
    "object-fit": (
      property: object-fit,
      class: object,
      responsive: true,
      values: (
        fill: fill,
        contain: contain,
        cover: cover,
        none: none,
        scale-down: scale-down,
      ),
    ),
    "background-size": (
      property: background-size,
      class: bg,
      responsive: true,
      values: (
        fill: fill,
        contain: contain,
        cover: cover,
        none: none,
        scale-down: scale-down,
      ),
    ),
    "background-blend-mode": (
      property: background-blend-mode,
      class: bg-blend,
      values: normal multiply screen overlay darken lighten color-dodge
        saturation color luminosity,
    ),
    "background-repeat": (
      property: background-repeat,
      class: bg,
      responsive: true,
      values: (
        repeat: repeat,
        no-repeat: no-repeat,
      ),
    ),
    "width":
      map-merge(
        map-get($utilities, "width"),
        (
          responsive: true,
        )
      ),
    "max-width": (
      property: max-width,
      class: max-w,
      responsive: true,
      values: (
        none: none,
        25: 25%,
        33: 33.333333%,
        50: 50%,
        66: 66.666667%,
        75: 75%,
        100: 100%,
      ),
    ),
    "min-height": (
      property: min-height,
      class: min-h,
      values:
        map-merge(
          map-get(map-get($utilities, "height"), "values"),
          (
            100vh: 100vh,
          )
        ),
    ),
    "height":
      map-merge(
        map-get($utilities, "height"),
        (
          values:
            map-merge(
              map-get(map-get($utilities, "height"), "values"),
              (
                100vh: 100vh,
              )
            ),
        )
      ),
    "max-height": (
      property: min-height,
      class: max-h,
      values:
        map-merge(
          map-get(map-get($utilities, "height"), "values"),
          (
            0: 0%,
            50vh: 50vh,
            100: 100%,
            100vh: 100vh,
          )
        ),
    ),
    "margin":
      map-merge(
        map-get($utilities, "margin"),
        (
          responsive: true,
          values:
            map-merge(
              map-get(map-get($utilities, "margin"), "values"),
              (
                6: $spacer * 6,
                7: $spacer * 7,
                8: $spacer * 8,
                9: $spacer * 9,
                10: $spacer * 10,
                11: $spacer * 11,
                12: $spacer * 12,
              )
            ),
        )
      ),
    "margin-y":
      map-merge(
        map-get($utilities, "margin-y"),
        (
          responsive: true,
          values:
            map-merge(
              map-get(map-get($utilities, "margin-y"), "values"),
              (
                6: $spacer * 6,
                7: $spacer * 7,
                8: $spacer * 8,
                9: $spacer * 9,
                10: $spacer * 10,
                11: $spacer * 11,
                12: $spacer * 12,
              )
            ),
        )
      ),
    "margin-top":
      map-merge(
        map-get($utilities, "margin-top"),
        (
          responsive: true,
          values:
            map-merge(
              map-get(map-get($utilities, "margin-top"), "values"),
              (
                6: $spacer * 6,
                7: $spacer * 7,
                8: $spacer * 8,
                9: $spacer * 9,
                10: $spacer * 10,
                11: $spacer * 11,
                12: $spacer * 12,
              )
            ),
        )
      ),
    "margin-end":
      map-merge(
        map-get($utilities, "margin-end"),
        (
          responsive: true,
          values:
            map-merge(
              map-get(map-get($utilities, "margin-end"), "values"),
              (
                6: $spacer * 6,
                7: $spacer * 7,
                8: $spacer * 8,
                9: $spacer * 9,
                10: $spacer * 10,
                11: $spacer * 11,
                12: $spacer * 12,
              )
            ),
        )
      ),
    "margin-bottom":
      map-merge(
        map-get($utilities, "margin-bottom"),
        (
          responsive: true,
          values:
            map-merge(
              map-get(map-get($utilities, "margin-bottom"), "values"),
              (
                6: $spacer * 6,
                7: $spacer * 7,
                8: $spacer * 8,
                9: $spacer * 9,
                10: $spacer * 10,
                11: $spacer * 11,
                12: $spacer * 12,
              )
            ),
        )
      ),
    "margin-start":
      map-merge(
        map-get($utilities, "margin-start"),
        (
          responsive: true,
          values:
            map-merge(
              map-get(map-get($utilities, "margin-start"), "values"),
              (
                6: $spacer * 6,
                7: $spacer * 7,
                8: $spacer * 8,
                9: $spacer * 9,
                10: $spacer * 10,
                11: $spacer * 11,
                12: $spacer * 12,
              )
            ),
        )
      ),
    "padding":
      map-merge(
        map-get($utilities, "padding"),
        (
          responsive: true,
          values:
            map-merge(
              map-get(map-get($utilities, "padding"), "values"),
              (
                6: $spacer * 6,
                7: $spacer * 7,
                8: $spacer * 8,
                9: $spacer * 9,
                10: $spacer * 10,
                11: $spacer * 11,
                12: $spacer * 12,
              )
            ),
        )
      ),
    "padding-y":
      map-merge(
        map-get($utilities, "padding-y"),
        (
          responsive: true,
          values:
            map-merge(
              map-get(map-get($utilities, "padding-y"), "values"),
              (
                6: $spacer * 6,
                7: $spacer * 7,
                8: $spacer * 8,
                9: $spacer * 9,
                10: $spacer * 10,
                11: $spacer * 11,
                12: $spacer * 12,
              )
            ),
        )
      ),
    "padding-top":
      map-merge(
        map-get($utilities, "padding-top"),
        (
          responsive: true,
          values:
            map-merge(
              map-get(map-get($utilities, "padding-top"), "values"),
              (
                6: $spacer * 6,
                7: $spacer * 7,
                8: $spacer * 8,
                9: $spacer * 9,
                10: $spacer * 10,
                11: $spacer * 11,
                12: $spacer * 12,
              )
            ),
        )
      ),
    "padding-end":
      map-merge(
        map-get($utilities, "padding-end"),
        (
          responsive: true,
          values:
            map-merge(
              map-get(map-get($utilities, "padding-end"), "values"),
              (
                6: $spacer * 6,
                7: $spacer * 7,
                8: $spacer * 8,
                9: $spacer * 9,
                10: $spacer * 10,
                11: $spacer * 11,
                12: $spacer * 12,
              )
            ),
        )
      ),
    "padding-bottom":
      map-merge(
        map-get($utilities, "padding-bottom"),
        (
          responsive: true,
          values:
            map-merge(
              map-get(map-get($utilities, "padding-bottom"), "values"),
              (
                6: $spacer * 6,
                7: $spacer * 7,
                8: $spacer * 8,
                9: $spacer * 9,
                10: $spacer * 10,
                11: $spacer * 11,
                12: $spacer * 12,
              )
            ),
        )
      ),
    "padding-start":
      map-merge(
        map-get($utilities, "padding-start"),
        (
          responsive: true,
          values:
            map-merge(
              map-get(map-get($utilities, "padding-start"), "values"),
              (
                6: $spacer * 6,
                7: $spacer * 7,
                8: $spacer * 8,
                9: $spacer * 9,
                10: $spacer * 10,
                11: $spacer * 11,
                12: $spacer * 12,
              )
            ),
        )
      ),
    "column-gap": (
      css-var: true,
      css-variable-name: col-gap,
      class: gx,
      responsive: true,
      values: (
        0: 0rem,
        1: 1rem,
        2: 2rem,
        3: 3rem,
        4: 4rem,
        5: 5rem,
        6: 6rem,
        7: 7rem,
        8: 8rem,
        9: 9rem,
        10: 10rem,
      ),
    ),
    "row-gap": (
      css-var: true,
      css-variable-name: row-gap,
      class: gy,
      values: (
        0: 0rem,
        1: 1rem,
        2: 2rem,
        3: 3rem,
        4: 4rem,
        5: 5rem,
        6: 6rem,
        7: 7rem,
        8: 8rem,
        9: 9rem,
        10: 10rem,
      ),
    ),
    "module-gap": (
      css-var: true,
      css-variable-name: module-gap,
      class: mg,
      values: (
        1: 10px,
        2: 20px,
        3: 30px,
        4: 40px,
        5: 50px,
      ),
    ),
    "font-weight": (
      property: font-weight,
      class: font,
      values: normal bold,
    ),
  )
);

[class*="gx-"] {
  column-gap: var(--bs-col-gap);
}
[class*="gy-"] {
  row-gap: var(--bs-row-gap);
}

@import "bootstrap/scss/utilities/api";

// @import "theme/colors"; // <-------- This creates the necessary bootstrap color classes.
// @import "theme/blocks"; // <-------- This adds Bootstrap styles to blocks.

@import "mixins/mixins";
@import "theme/layout";
