@use "sass:math";

@import "theme/theme_variables"; // <-------- Add your variables into this file. Also add variables to overwrite Bootstrap or Understrap variables here
// @import "bootstrap/scss/bootstrap"; // <-------- Loads Bootstrap

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

// Layout & components
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/alert";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";

$utilities: map-merge(
  $utilities,
  (
    "position":
      map-merge(
        map-get($utilities, "position"),
        (
          responsive: true,
        )
      ),
    "object-fit": (
      property: object-fit,
      class: object,
      responsive: true,
      values: (
        fill: fill,
        contain: contain,
        cover: cover,
        none: none,
        scale-down: scale-down,
      ),
    ),
    "background-size": (
      property: background-size,
      class: bg,
      responsive: true,
      values: (
        fill: fill,
        contain: contain,
        cover: cover,
        none: none,
        scale-down: scale-down,
      ),
    ),
    "background-blend-mode": (
      property: background-blend-mode,
      class: bg-blend,
      values: normal multiply screen overlay darken lighten color-dodge
        saturation color luminosity,
    ),
    "background-repeat": (
      property: background-repeat,
      class: bg,
      responsive: true,
      values: (
        repeat: repeat,
        no-repeat: no-repeat,
      ),
    ),
    "height":
      map-merge(
        map-get($utilities, "height"),
        (
          values:
            map-merge(
              map-get(map-get($utilities, "height"), "values"),
              (
                100vh: 100vh,
              )
            ),
        )
      ),
    "min-height": (
      property: min-height,
      class: min-h,
      values:
        map-merge(
          map-get(map-get($utilities, "height"), "values"),
          (
            100vh: 100vh,
          )
        ),
    ),
  )
);

@import "bootstrap/scss/utilities/api";

@import "theme/understrap"; // <-------- Loads the Understrap defaults. Just a few classes to incorporate BS in WP
// @import "theme/colors"; // <-------- This creates the necessary bootstrap color classes.
// @import "theme/blocks"; // <-------- This adds Bootstrap styles to blocks.

@mixin responsive-inline-helper($property, $css_var) {
  @each $breakpoint, $val in $grid-breakpoints {
    @if $breakpoint == "xs" {
      #{$css_var}: "unset";
      #{$property}: var(#{$css_var});
    } @else {
      @include media-breakpoint-up($breakpoint) {
        #{$css_var}-#{$breakpoint}: var(#{$css_var});
        #{$property}: var(#{$css_var}-#{$breakpoint});
      }
    }
  }
}

@import "theme/layout";
