$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
) !default;

@mixin responsive-inline-helper($property, $css_var, $important: null) {
  @each $breakpoint, $val in $grid-breakpoints {

    @if $breakpoint == "xs" {
      #{$css_var}: "unset";
      #{$property}: var(#{$css_var});
    } @else {
      @include media-breakpoint-up($breakpoint) {
        $index: index(map-keys($grid-breakpoints), $breakpoint);
        $prev_breakpoint: nth(map-keys($grid-breakpoints), $index - 1);

        @if $prev_breakpoint == "xs" {
          #{$css_var}-#{$breakpoint}: var(#{$css_var}) $important;
        } @else {
          #{$css_var}-#{$breakpoint}: var(#{$css_var}-#{$prev_breakpoint}) $important;
        }
        #{$property}: var(#{$css_var}-#{$breakpoint}) $important;
      }
    }
  }
}
