:where(
    .buildystrap-module,
    .buildystrap-section,
    .buildystrap-row,
    .buildystrap-column,
    .buildystrap-bg-element
  ) {
  @include responsive-inline-helper(background-image, --bg-image-url);
}

:where(.buildystrap-section) {
  position: relative;
  padding: 2rem 0;

  @include media-breakpoint-up(lg) {
    padding: var(--bs-section-padding) 0;
  }

  &,
  > .container {
    display: flex;
    flex-direction: column;
    row-gap: var(--bs-row-gap);
  }
}

:where(.buildystrap-row) {
  column-gap: var(--bs-col-gap);
  row-gap: var(--bs-row-gap);
  padding: calc(var(--bs-row-padding) / 2) 0;

  @include media-breakpoint-up(md) {
    padding: var(--bs-row-padding) 0;
  }

  &:where(.row) {
    justify-content: space-between;
  }
  &:where(.grid) {
    --bs-gutter-x: 0;
    --bs-columns: 1;
    --bs-gap: 0;

    @include media-breakpoint-up(lg) {
      --bs-gap: var(--bs-col-gap);
      --bs-gutter-x: var(--bs-col-gap);
      --bs-columns: 12;
    }
  }
}

:where(.buildystrap-column) {
  display: flex;
  flex-direction: column;
  gap: var(--bs-module-gap);
  max-width: 100%;
}

:where(.buildystrap-bg-element) {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

:where(.grid) {
  &.col-gap {
    column-gap: var(--bs-col-gap);
  }
  &.row-gap {
    row-gap: var(--bs-row-gap);
  }
}

:where(.buildystrap-module) * {
  &:last-child {
    margin-bottom: 0;
  }
}
