.buildystrap-module,
.buildystrap-section,
.buildystrap-row,
.buildystrap-column {
  @include responsive-inline-helper(background-image, --bg-image-url);
}

.buildystrap-section {
  padding: var(--bs-section-padding) 0;
}

.buildystrap-row {
  padding: var(--bs-row-padding) 0;
  &.grid {
    @include media-breakpoint-up(md) {
      column-gap: var(--bs-col-gap);
      row-gap: var(--bs-row-gap);
    }
  }
}

.buildystrap-column {
  display: flex;
  flex-direction: column;
  gap: var(--bs-module-gap);
}
